
###> symfony/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/app/node_modules/
/app/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/web-server-bundle ###
/app/.web-server-pid
###< symfony/web-server-bundle ###
